.footer {
    padding: 10%;
    display: flex;
    justify-content: space-between;
}
.foodie {
    display: flex;
    flex-direction: column;
}
.foodie span {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 25px;
}
.foodie a {
    margin-right: 15px;
    color: #5c5c3d;
}
.links {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.link {
    line-height: 25px;
    text-transform: capitalize;
    margin-right: 30%;
}
.link p {
    margin: 0px;
    color: #5c5c3d;
}
.link a {
    width: max-content;
}